<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Vous avez perdu votre mot de passe ?</h1>
    <p>
      Pour reinitializer le mot de passe, 
      </p>
     <a href=<%="http://localhost:5173/new_password/#{@token}"%>>cliquez ici</a>
    <p> À très vite sur notre site !</p>
      </body>
  </html>
